        <div class="end-page-space"></div>
        <a class="addon-button footer-button" href="https://{home-netlify-domain}/">All Stremio Addons</a><a class="addon-button footer-button" href="https://github.com/{repo-name}/blob/main/README.md#the-great-list-of-stremio-addons" target="_blank">How Can I Help?</a><a class="addon-button footer-button" href="https://github.com/{repo-name}/blob/main/README.md#how-it-works" target="_blank">How It Works</a><a class="addon-button footer-button" href="https://github.com/{repo-name}/issues/new?assignees=&labels=misc&template=submit-addon.yaml&title=Addon+Name" target="_blank">Publish Addon</a><a class="addon-button footer-button" href="https://github.com/{repo-name}/" target="_blank">Source Code</a><a class="addon-button footer-button" href="https://stremio.com/downloads" target="_blank">Download Stremio</a>
        <div class="end-page-space"></div>
        <div class="footer-note">This Stremio Addons website is curated by the community. Want to help? <a href="https://github.com/{repo-name}/blob/main/README.md" target="_blank">Find out how!</a></div>
        <script>
            $(document).ready(function() {
                const requestStartTime = Date.now()
                fetch('{addon-url}')
                  .then((response) => response.json())
                  .then((data) => {
                    if (data && data.id && data.version) {
                        // consider slow if it takes more than 5s
                        if (Date.now() - requestStartTime > 5 * 1000) {
                                $('.status-bar').css('background-color', 'orange')
                                $('.status-bar').css('color', 'white')
                                $('.status-bar').html('Addon status: Online (but slow)')
                        } else {
                                $('.status-bar').css('background-color', 'green')
                                $('.status-bar').css('color', 'white')
                                $('.status-bar').html('Addon status: Online')
                        }
                    } else {
                        $('.status-bar').css('background-color', 'red')
                        $('.status-bar').css('color', 'white')
                        $('.status-bar').html('Addon status: Offline')
                    }
                  }).catch(e => {
                    $('.status-bar').css('background-color', 'red')
                    $('.status-bar').css('color', 'white')
                    $('.status-bar').html('Addon status: Offline')
                  });
            })
        </script>
    </body>
    </html>
