    <html>
    <head>
      <meta name="description" content="{addon-description}">
      <meta name="keywords" content="{addon-keywords}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta property="og:title" content="{addon-title} - Stremio Addons">
      <meta property="og:description" content="{addon-description}">
      <meta name="application-name" content="{addon-title} - Stremio Addons">
      <meta property="og:image" content="{addon-logo}">
      <link rel="icon" type="image/png" href="{addon-logo}">
      <title>{addon-title} - Stremio Addons</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
      <script type="module" src="ionicons.5.5.2.esm.js"></script>
      <script nomodule src="ionicons.5.5.2.js"></script>
      <link rel="stylesheet" href="styles.css">
      <script src="isotope.3.0.6.pkgd.min.js"></script>
      <script src="jquery-3.6.1.min.js"></script>
    </head>
    <body>
      <div class="header-note">Not all community addons are available in Stremio's internal addon catalog.<div class="header-note-space"></div>To load the community curated addons list in Stremio on your current device (presumes you have Stremio installed), simply press <a href="stremio://stremio-addons.netlify.app/catalog.json">this link</a>!</div>
