        </div>
        <div class="end-page-space"></div>
        <div class="footer-note">This Stremio Addons website is curated by the community. Want to help? <a href="https://github.com/danamag/stremio-addons-list/blob/main/README-community.md" target="_blank">Find out how!</a></div>
        <script>
            let isotopeLoaded = false
            function loadIsotope() {
                isotopeLoaded = true
                window.iso = new Isotope('.addon-list', {
                      itemSelector: '.addon-list-item',
                      getSortData: {
                        bumps: itemElem => parseInt($(itemElem).find('.score-value').text()),
                        alpha: '.addon-title',
                      },
                      layoutMode: 'vertical',
                      fitWidth: true
                })
                $('form#searchform').submit(function() {
                    const query = $("input#sbox").val().toLowerCase()
                    $("input#sbox").blur()
                    window.iso.arrange({
                      filter: function(itemElem) {
                        return $(itemElem).find('.addon-details .addon-title a').text().toLowerCase().includes(query) || $(itemElem).find('.addon-details .addon-description').text().toLowerCase().includes(query)
                      }
                    })
                    return false;
                })
                setTimeout(() => {
                    const urlSearchParams = new URLSearchParams(window.location.search)
                    const params = Object.fromEntries(urlSearchParams.entries())
                    if (params.label) {
                        $('.labels-list .label.selected').removeClass('selected')
                        const pressedLabel = params.label.split('-').join(' ')
                        $('.labels-list .label').each(function() {
                            if ($(this).text() === pressedLabel)
                                $(this).addClass('selected')
                        })
                        const label = pressedLabel.split(' ').join('-')
                        window.iso.arrange({ filter: '.'+label })
                    } else
                        window.iso.arrange({ sortBy: 'bumps', sortAscending: false })
                }, 500)
            }
            $(document).ready(function() {
                $('.labels-list .label').click(function() {
                    if ($("input#sbox").val()) $("input#sbox").val('')
                    $('.labels-list .label.selected').removeClass('selected')
                    $(this).addClass('selected')
                    const label = $(this).text().split(' ').join('-')
                    window.iso.arrange({ filter: label === 'show-all' ? '*' : '.'+label })
                })
                $('.addon-types .label').click(function() {
                    if ($("input#sbox").val()) $("input#sbox").val('')
                    window.scrollTo(0, 0)
                    $('.labels-list .label.selected').removeClass('selected')
                    const pressedLabel = $(this).text()
                    $('.labels-list .label').each(function() {
                        if ($(this).text() === pressedLabel)
                            $(this).addClass('selected')
                    })
                    const label = $(this).text().split(' ').join('-')
                    window.iso.arrange({ filter: '.'+label })
                })
                $('a.addon-button.install-button').click(function(e) {
                    var el = $(this)
                    setTimeout(function() {
                      window.alert('test');
                      console.log('test');
                    }, 200);
                    window.location = el.attr('href');
                    e.preventDefault();
                })
                loadIsotope()
            })
        </script>
    </body>
    </html>
