        </div>
        <div class="end-page-space"></div>
        <a class="addon-button footer-button" href="https://github.com/{repo-name}/blob/main/README.md#how-can-i-help" target="_blank">How Can I Help?</a><a class="addon-button footer-button" href="https://github.com/{repo-name}/blob/main/README.md#how-it-works" target="_blank">How It Works</a><a class="addon-button footer-button" href="https://github.com/{repo-name}/issues/new?assignees=&labels=misc&template=submit-addon.yaml&title=Addon+Name" target="_blank">Publish Addon</a><a class="addon-button footer-button" href="https://github.com/{repo-name}/" target="_blank">Source Code</a><a class="addon-button footer-button" href="https://stremio.com/downloads" target="_blank">Download Stremio</a>
        <div class="end-page-space"></div>
        <div class="footer-note">Coded with ❤️, the Stremio Addons website is curated by the community!</div>
        <script>
            let isotopeLoaded = false
            function loadIsotope() {
                isotopeLoaded = true
                window.iso = new Isotope('.addon-list', {
                      itemSelector: '.addon-list-item',
                      getSortData: {
                        bumps: itemElem => parseInt($(itemElem).find('.score-value').text()),
                        alpha: '.addon-title',
                      },
                      layoutMode: 'vertical',
                      fitWidth: true
                })
                $('form#searchform').submit(function() {
                    const query = $("input#sbox").val().toLowerCase()
                    $("input#sbox").blur()
                    window.iso.arrange({
                      filter: function(itemElem) {
                        return $(itemElem).find('.addon-details .addon-title a').text().toLowerCase().includes(query) || $(itemElem).find('.addon-details .addon-description').text().toLowerCase().includes(query)
                      }
                    })
                    return false;
                })
                setTimeout(() => {
                    const urlSearchParams = new URLSearchParams(window.location.search)
                    const params = Object.fromEntries(urlSearchParams.entries())
                    if (params.label) {
                        $('.labels-list .label.selected').removeClass('selected')
                        const pressedLabel = params.label.split('-').join(' ')
                        $('.labels-list .label').each(function() {
                            if ($(this).text() === pressedLabel)
                                $(this).addClass('selected')
                        })
                        const label = pressedLabel.split(' ').join('-')
                        window.iso.arrange({ filter: '.'+label })
                    } else
                        window.iso.arrange({ sortBy: 'bumps', sortAscending: false })
                }, 500)
            }
            $(document).ready(function() {
                $('.labels-list .label').click(function() {
                    if ($("input#sbox").val()) $("input#sbox").val('')
                    $('.labels-list .label.selected').removeClass('selected')
                    $(this).addClass('selected')
                    const label = $(this).text().split(' ').join('-')
                    window.iso.arrange({ filter: label === 'show-all' ? '*' : '.'+label })
                })
                $('.addon-types .label').click(function() {
                    if ($("input#sbox").val()) $("input#sbox").val('')
                    window.scrollTo(0, 0)
                    $('.labels-list .label.selected').removeClass('selected')
                    const pressedLabel = $(this).text()
                    $('.labels-list .label').each(function() {
                        if ($(this).text() === pressedLabel)
                            $(this).addClass('selected')
                    })
                    const label = $(this).text().split(' ').join('-')
                    window.iso.arrange({ filter: '.'+label })
                })
                loadIsotope()
            })
            function copyLink(link) {
                let copyLinkMsg = 'Copy Share Link to Clipboard: Ctrl+C, Enter'
                if (window.isMobile)
                    copyLinkMsg = 'Copy Share Link to Clipboard: Long Press Text, Select Copy'
                window.prompt(copyLinkMsg, link)
            }
        </script>
    </body>
    </html>
