    <html>
    <head>
      <meta name="description" content="{home-description}">
      <meta name="keywords" content="{home-keywords}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta property="og:title" content="{home-meta-title}">
      <meta property="og:description" content="{home-description}">
      <meta name="application-name" content="{home-meta-title}">
      <meta property="og:image" content="https://{home-netlify-domain}/{home-favicon}">
      <link rel="icon" type="image/png" href="https://{home-netlify-domain}/{home-favicon}">
      <title>{home-meta-title}</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="ionicons.5.5.2.js"></script>
      <link rel="stylesheet" href="styles.css">
      <script src="isotope.3.0.6.pkgd.min.js"></script>
      <script src="jquery-3.6.1.min.js"></script>
    </head>
    <body>
      <div class="header-note">Not all community addons are available in Stremio's internal addon catalog.<div class="header-note-space"></div>To load the community curated addons list in Stremio on your current device (presumes you have Stremio installed), simply press <a href="stremio://stremio-addons.netlify.app/catalog.json">this link</a>!</div>
      <h1>{home-page-title}</h1>
      <div class="labels-list">{labels-list}</div>
      <div class="addon-list">
