    <html>
    <head>
      <meta name="description" content="Stremio community currated addons list, find the best Stremio addons here.">
      <meta name="keywords" content="stremio addons, no streams, addons, torrentio, piratebay, addons list, what addons">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta property="og:title" content="Stremio Addons - Community List">
      <meta property="og:description" content="Stremio community currated addons list, find the best Stremio addons here.">
      <meta name="application-name" content="Stremio Addons - Community List">
      <meta property="og:image" content="https://styles.redditmedia.com/t5_uxae6/styles/communityIcon_npi2p51h45b41.png">
      <link rel="icon" type="image/png" href="https://styles.redditmedia.com/t5_uxae6/styles/communityIcon_npi2p51h45b41.png">
      <title>Stremio Addons - Community List</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      <link rel="stylesheet" href="styles.css">
      <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
      <script
        src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="header-note">Not all community addons are available in Stremio's internal addon catalog.<div class="header-note-space"></div>To load the community curated addons list in Stremio on your current device (presumes you have Stremio installed), simply press <a href="stremio://stremio-addons.netlify.app/catalog.json">this link</a>!</div>
      <h1>Stremio Community Addons List</h1>
      <div class="labels-list">{labels-list}</div>
      <div class="addon-list">
