<div class="addon-list-item{labels}" id="{addon-id}">
	<div class="addon-image">
		<a href="{addon-page}">
			<div class="addon-logo" style="background-image: url({addon-logo})"></div>
		</a>
	</div>
	<div class="addon-details">
		<div class="addon-title">
			<a href="{addon-page}">{addon-title} v{addon-version}</a> <div class="addon-types">{addon-types-small}</div>
		</div>
		<div class="addon-description">
			{addon-description}
		</div>
		{install-button}
		{configure-button}
		<a href="{issue-url}" class="addon-score-link" target="_blank">
			<div class="addon-score">
				<span class="score-value" style="display: none">{addon-score}</span>
				<ion-icon name="thumbs-up" class="orange-icon"></ion-icon> {addon-ups}<div class="score-distance"></div><ion-icon name="thumbs-down" class="orange-icon thumbs-down"></ion-icon> {addon-downs}
			</div>
		</a>
		{comments-button}
	</div>
</div>
