body {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin: 0;
  width: 100%;
}
h1 {
  text-align: center;
  width: 100%;
  display: inline-block;
}
.addon-image {
  float: left;
  margin-right: 15px;
}
.addon-list-item {
  padding: 15px;
  line-height: 22px;
  border: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 10px;
  width: calc(100% - 32px);
  margin: 8px auto;
  background-color: white;
  text-align: left;
  min-height: 100px;
}
.orange-icon {
  color: orange;
  margin-right: 3px;
}
.gray-icon {
  color: rgba(0,0,0,0.4);
  margin-right: 3px;
}
.addon-score {
  margin-top: 10px;
  padding: 7px 9px;
  border: 1px solid rgba(0,0,0,0.1);
  display: inline-block;
  cursor: pointer;
  color: black;
}
.addon-score:hover {
  border: 1px solid rgba(0,0,0,0.3);
}
.thumbs-down {
  position: relative;
  top: 3px;
}
.score-distance {
  width: 12px;
  height: 1px;
  display: inline-block;
}
.addon-title {
  font-size: bold;
  font-size: 113%;
  margin-bottom: 5px;
}
.label {
  padding: 4px 6px;
  border-radius: 5px;
  color: white;
  font-size: 74%;
  line-height: normal;
  margin: 2px 0;
  display: inline-block;
  margin-right: 7px;
  cursor: pointer;
}
.addon-types {
  display: inline;
  margin-left: 5px;
  top: -2px;
  position: relative;
}
.addon-types .label {
  font-size: 90%;
  margin: 6px 4px 7px;
  text-decoration: none;
}
.addon-types .label-small {
  font-size: 70%;
}
.addon-button {
  margin-top: 10px;
  padding: 7px 9px;
  border: 1px solid rgba(0,0,0,0.1);
  display: inline-block;
  cursor: pointer;
  color: black;
  text-decoration: none;
  margin-right: 10px;
}
.addon-button:hover {
  border: 1px solid rgba(0,0,0,0.3);
}
.addon-score-link {
  text-decoration: none;
  margin-right: 10px;
}
.install-button {
  background-color: #22b467;
  color: #fff;
}
.install-button:hover {
  opacity: 0.8;
}
.copy-link-button {
  background-color: #FFA030;
  color: #fff;
  opacity: 0.9;
}
.copy-link-button:hover {
  opacity: 0.8;
}
.configure-button {
  background-color: #438CB3;
  color: #fff;
}
.configure-button:hover {
  opacity: 0.8;
}
.addon-logo {
  width: 100px;
  height: 100px;
  background-color: rgba(0,0,0,0.05);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.addon-list {
  width: 80%;
  margin: 0 auto;
}
.labels-list {
  text-align: center;
}
.addon-title a {
  font-weight: bold;
  color: black; 
}
.labels-list .label {
  font-size: 90%;
  margin-right: 0;
  margin: 2px 4px 10px;
  opacity: 0.8;
}
.labels-list .label:hover {
  opacity: 1;
}
.labels-list .label.selected {
  background-color: #4c5257 !important;
  text-decoration: underline !important;
  opacity: 1 !important;
}
.header-note-space {
  height: 5px;
}
.header-note a {
  color: #408fec;
  text-decoration: none;
}
.header-note {
  width: calc(100% - 32px);
  padding: 16px;
  background-color: rgba(0,0,0,0.05);
}
.footer-note-space {
  height: 5px;
}
.footer-note a {
  color: #408fec;
  text-decoration: none;
}
.footer-note {
  width: calc(100% - 32px);
  padding: 16px;
  background-color: rgba(0,0,0,0.05);
}
.end-page-space {
  height: 35px;
}
.addon-title a {
  color: black;
}
.loader-06 {
  border: .2em solid currentcolor;
  border-radius: 50%;
  animation: loader-06 1s ease-out infinite;
}
.box {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  vertical-align: top;
  transition: .3s color, .3s border, .3s transform, .3s opacity;
}
.label-addon-page {
  opacity: 0.8;
}
.label-addon-page:hover {
  opacity: 1;
}
.status-bar {
  background-color: rgba(0,0,0,0.2);
  display: block;
  padding: 15px;
  width: calc(80% - 30px);
  margin: 0 auto;
  text-align: center;
  opacity: 0.5;
}
@keyframes loader-06 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.back-arrow {
  position: relative;
  top: 2px;
}
.addon-details {
  display: inline-block;
  max-width: calc(100% - 130px);
}
.addon-details .label-small {
  opacity: 0.5;
}
.addon-details .label-small:hover {
  opacity: 0.8;
}
div#searchBox {
    float: none;
    text-align: center;
    color: #777;
    margin-top: 0px;
    margin-bottom: 8px;
}

#searchform {
    border-bottom: 1px solid #ccc;
    padding: 8px 0 0;
}

#searchform input {
    border: 0px;
    background: transparent;
    padding: 8px 10px 5px;
    outline: none;
    width: 90%;
}

.mobile-form #searchform {
    padding-top: 2.5px;
}

div#searchBox #searchform {
    border: 1px solid #ddd;
    width: 438px;
    padding-top: 1px;
    display: inline-block;
}

div#searchBox #searchform input {
    padding: 5px;
    display: block;
    font-size: 100%;
}

.sb-search-submit {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff;
    /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: 100;
}

span#noEasy {
    display: block;
    /* overflow: hidden; */
    position: relative;
    width: 30px;
    height: 30px;
    float: left;
    padding-left: 3px;
}

span#noEasy input {
    width: 30px;
    padding: 0 !important;
}

span#noEasy ion-icon[name="search"] {
    height: 100%;
}

input#sbox {
    line-height: 31px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
span#noEasy:hover {
    color: #444;
}
.footer-button {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 5px;
    opacity: 0.8;
    background-color: #A08C80;
    color: #fff;
    font-size: 90%;
}
.footer-button:hover {
  opacity: 1;
}
.utterances {
  width: 80% !important;
  max-width: 80% !important;
}
@media only screen and (max-width: 600px) {
  .addon-list {
    width: 100%;
  }
  .addon-image {
    margin-right: 0;
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }
  .addon-logo {
    display: inline-block;
    margin-bottom: 20px;
  }
  .status-bar {
    width: calc(100% - 30px);
  }
  .addon-details {
    max-width: 100%;
  }
  .addon-description {
    font-size: 94%;
    word-break: break-word;
  }
  .utterances {
    width: 100% !important;
    max-width: 100% !important;
  }
  div#searchBox #searchform {
    max-width: 100%;
  }
}
